html {
   scroll-behavior: smooth;
 }
.jumbotron{
   background-image: url('../image/bg2.jpg');
   background-repeat: no-repeat, repeat;
   background-size: cover;
   height: 100vh;
   border-radius: 0 !important;

}
.nav{
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   -webkit-transition: 0.5s ease-in-out;
   -moz-transition: 0.5s ease-in-out;
   -o-transition: 0.5s ease-in-out;
   transition: 0.5s ease-in-out;
}

.navbar a{
   color: white;
   letter-spacing: .2rem;
}
.background{
   background-color: white;
}
.background   a{
   color: black;
}
.background .nav{
   margin-top: .8em;
   margin-bottom: .8em;
   -webkit-transition: 0.5s ease-in-out;
   -moz-transition: 0.5s ease-in-out;
   -o-transition: 0.5s ease-in-out;
   transition: 0.5s ease-in-out;
}


.title{
   margin-top: 30vh;
}
.section{
   min-height: 450px;
}
.section .section-title{
   letter-spacing: .2rem;
   margin-top: 4em;
   margin-bottom: 2em;
}
.button:hover{
   color: white;
   color: #ffff;
   background-color: #bac964!important; 

}
.button{
   background-color: #bac964;
   border-color: transparent!important;
   border-radius: 20px;
   font-size: 12px;
   letter-spacing: .2rem;
}
.btn-lg.button{
   font-size: 14px;
}

.profile .card{
   padding: 1em;
   min-height: 50vh;
   background-color: #6666;
}
.profile .icon-set{
   width: 120px !important;
   height: 90px;
   background:#bac964 ;
   position: relative;
   border-radius: 50%;
   font-size: 22px;
   margin: 0 10px;

   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.devisi{
   margin-top: 10vh;
}
p{
   opacity: .5;
}
body{
   background-color:rgba(0, 0, 0, 0.89);
}
footer .container{
   color: white;
   min-height: 40vh;
}
footer .footer{
   margin-top: 5em;
   margin-bottom: 2.5em;
}
footer .container .social-item{
   font-size: 27px!important;
   display: inline-block;
   width: 60px;
   height: 60px;
   background: #333;
   position: relative;
   border-radius: 50%;
   font-size: 22px;
   margin: 0 10px;
   color: #bac964 ;
}

footer .fa.fa-heart{
   color: red;
}

/* @media (max-width: 600px){
   .profile .card{
     margin-bottom: 3;
   }
} */
/* #bac964 */